@model CRUD.Models.ContaModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ContaModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nomeTitular" class="control-label"></label>
                <input asp-for="nomeTitular" class="form-control" />
                <span asp-validation-for="nomeTitular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="saldoConta" class="control-label"></label>
                <input asp-for="saldoConta" class="form-control" />
                <span asp-validation-for="saldoConta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataCriacao" class="control-label"></label>
                <input asp-for="dataCriacao" class="form-control" />
                <span asp-validation-for="dataCriacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataExclusao" class="control-label"></label>
                <input asp-for="dataExclusao" class="form-control" />
                <span asp-validation-for="dataExclusao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <select asp-for="IdUsuario" class ="form-control" asp-items="ViewBag.IdUsuario"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
